[submodule "externals/bzip2"]
	path = externals/bzip2
	url = https://github.com/ShiftMediaProject/bzip2.git
[submodule "externals/enca"]
	path = externals/enca
	url = https://github.com/ShiftMediaProject/enca.git
[submodule "externals/expat"]
	path = externals/expat
	url = https://github.com/ShiftMediaProject/expat.git
[submodule "externals/fdk-aac"]
	path = externals/fdk-aac
	url = https://github.com/ShiftMediaProject/fdk-aac.git
[submodule "externals/fontconfig"]
	path = externals/fontconfig
	url = https://github.com/ShiftMediaProject/fontconfig.git
[submodule "externals/freetype2"]
	path = externals/freetype2
	url = https://github.com/ShiftMediaProject/freetype2.git
[submodule "externals/fribidi"]
	path = externals/fribidi
	url = https://github.com/ShiftMediaProject/fribidi.git
[submodule "externals/game-music-emu"]
	path = externals/game-music-emu
	url = https://github.com/ShiftMediaProject/game-music-emu.git
[submodule "externals/gmp"]
	path = externals/gmp
	url = https://github.com/ShiftMediaProject/gmp.git
[submodule "externals/gnutls"]
	path = externals/gnutls
	url = https://github.com/ShiftMediaProject/gnutls.git
[submodule "externals/harfbuzz"]
	path = externals/harfbuzz
	url = https://github.com/ShiftMediaProject/harfbuzz.git
[submodule "externals/lame"]
	path = externals/lame
	url = https://github.com/ShiftMediaProject/lame.git
[submodule "externals/libaacs"]
	path = externals/libaacs
	url = https://github.com/ShiftMediaProject/libaacs.git
[submodule "externals/libass"]
	path = externals/libass
	url = https://github.com/ShiftMediaProject/libass.git
[submodule "externals/libbdplus"]
	path = externals/libbdplus
	url = https://github.com/ShiftMediaProject/libbdplus.git
[submodule "externals/libbluray"]
	path = externals/libbluray
	url = https://github.com/ShiftMediaProject/libbluray.git
[submodule "externals/libcdio"]
	path = externals/libcdio
	url = https://github.com/ShiftMediaProject/libcdio.git
[submodule "externals/libcdio-paranoia"]
	path = externals/libcdio-paranoia
	url = https://github.com/ShiftMediaProject/libcdio-paranoia.git
[submodule "externals/libdvdcss"]
	path = externals/libdvdcss
	url = https://github.com/ShiftMediaProject/libdvdcss.git
[submodule "externals/libdvdnav"]
	path = externals/libdvdnav
	url = https://github.com/ShiftMediaProject/libdvdnav.git
[submodule "externals/libdvdread"]
	path = externals/libdvdread
	url = https://github.com/ShiftMediaProject/libdvdread.git
[submodule "externals/libgcrypt"]
	path = externals/libgcrypt
	url = https://github.com/ShiftMediaProject/libgcrypt.git
[submodule "externals/libgpg-error"]
	path = externals/libgpg-error
	url = https://github.com/ShiftMediaProject/libgpg-error.git
[submodule "externals/libiconv"]
	path = externals/libiconv
	url = https://github.com/ShiftMediaProject/libiconv.git
[submodule "externals/libilbc"]
	path = externals/libilbc
	url = https://github.com/ShiftMediaProject/libilbc.git
[submodule "externals/liblzma"]
	path = externals/liblzma
	url = https://github.com/ShiftMediaProject/liblzma.git
[submodule "externals/libssh"]
	path = externals/libssh
	url = https://github.com/ShiftMediaProject/libssh.git
[submodule "externals/libvpx"]
	path = externals/libvpx
	url = https://github.com/ShiftMediaProject/libvpx.git
[submodule "externals/libxml2"]
	path = externals/libxml2
	url = https://github.com/ShiftMediaProject/libxml2.git
[submodule "externals/modplug"]
	path = externals/modplug
	url = https://github.com/ShiftMediaProject/modplug.git
[submodule "externals/nettle"]
	path = externals/nettle
	url = https://github.com/ShiftMediaProject/nettle.git
[submodule "externals/ogg"]
	path = externals/ogg
	url = https://github.com/ShiftMediaProject/ogg.git
[submodule "externals/openssl"]
	path = externals/openssl
	url = https://github.com/ShiftMediaProject/openssl.git
[submodule "externals/opus"]
	path = externals/opus
	url = https://github.com/ShiftMediaProject/opus.git
[submodule "externals/PortAudio"]
	path = externals/PortAudio
	url = https://github.com/ShiftMediaProject/PortAudio.git
[submodule "externals/rtmpdump"]
	path = externals/rtmpdump
	url = https://github.com/ShiftMediaProject/rtmpdump.git
[submodule "externals/soxr"]
	path = externals/soxr
	url = https://github.com/ShiftMediaProject/soxr.git
[submodule "externals/speex"]
	path = externals/speex
	url = https://github.com/ShiftMediaProject/speex.git
[submodule "externals/theora"]
	path = externals/theora
	url = https://github.com/ShiftMediaProject/theora.git
[submodule "externals/vorbis"]
	path = externals/vorbis
	url = https://github.com/ShiftMediaProject/vorbis.git
[submodule "externals/x264"]
	path = externals/x264
	url = https://github.com/ShiftMediaProject/x264.git
[submodule "externals/x265"]
	path = externals/x265
	url = https://github.com/ShiftMediaProject/x265.git
[submodule "externals/xvid"]
	path = externals/xvid
	url = https://github.com/ShiftMediaProject/xvid.git
[submodule "externals/zlib"]
	path = externals/zlib
	url = https://github.com/ShiftMediaProject/zlib.git
[submodule "externals/SDL"]
	path = externals/SDL
	url = https://github.com/eddieringle/SDL.git
[submodule "externals/MediaInfoLib"]
	path = externals/MediaInfoLib
	url = https://github.com/MediaArea/MediaInfoLib
