# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
*.ipch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.opensdf
*.sdf

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
[Tt]emp*/

build/msvc*/
*.idb

.vs/
*.opendb
build*/
external*/*.tar.gz
external*/*.tar.bz2
*.VC.db
.suo
*.db

external/ass/
external/bzip2/
external/cdio/
external/cdio-paranoia/
external/ffmpeg/
external/fontconfig/
external/freetype2/
external/fribidi/
external/gsm/
external/harfbuzz/
external/iconv/
external/lame/
external/lzma/
external/openjpeg/
external/png/
external/sqlite3/
external/vpx/
external/xml2/
external/zlib/
