[submodule "externals/FFmpeg"]
	path = externals/FFmpeg
	url = ssh://git@github-personal/mwgoldsmith/FFmpeg.git
[submodule "externals/pthreads-win32"]
	path = externals/pthreads-win32
	url = ssh://git@github-personal/mwgoldsmith/pthreads-win32.git
[submodule "externals/curl"]
	path = externals/curl
	url = ssh://git@github-personal/mwgoldsmith/curl.git
[submodule "externals/libpng"]
	path = externals/libpng
	url = ssh://git@github-personal/mwgoldsmith/libpng.git
[submodule "externals/PortAudio"]
	path = externals/PortAudio
	url = ssh://git@github-personal/mwgoldsmith/PortAudio.git
[submodule "externals/jpeg9a"]
	path = externals/jpeg9a
	url = ssh://git@github-personal/mwgoldsmith/jpeg9a.git
[submodule "externals/libphash"]
	path = externals/libphash
	url = ssh://git@github-personal/mwgoldsmith/libphash.git
[submodule "externals/libssh2"]
	path = externals/libssh2
	url = ssh://git@github-personal/mwgoldsmith/libssh2.git
[submodule "externals/glext"]
	path = externals/glext
	url = ssh://git@github-personal/mwgoldsmith/glext.git
[submodule "externals/mfx_dispatch"]
	path = externals/mfx_dispatch
	url = ssh://git@github-personal/mwgoldsmith/mfx_dispatch.git
[submodule "externals/bzip2"]
	path = externals/bzip2
	url = ssh://git@github-personal/mwgoldsmith/bzip2.git
	branch = develop
[submodule "externals/enca"]
	path = externals/enca
	url = ssh://git@github-personal/mwgoldsmith/enca.git
	branch = develop
[submodule "externals/fdk-aac"]
	path = externals/fdk-aac
	url = ssh://git@github-personal/mwgoldsmith/fdk-aac.git
[submodule "externals/fontconfig"]
	path = externals/fontconfig
	branch = develop
	url = ssh://git@github-personal/mwgoldsmith/fontconfig.git
[submodule "externals/freetype2"]
	path = externals/freetype2
	branch = develop
	url = ssh://git@github-personal/mwgoldsmith/freetype2.git
[submodule "externals/fribidi"]
	path = externals/fribidi
	url = ssh://git@github-personal/mwgoldsmith/fribidi.git
[submodule "externals/game-music-emu"]
	path = externals/game-music-emu
	url = ssh://git@github-personal/mwgoldsmith/game-music-emu.git
[submodule "externals/gmp"]
	path = externals/gmp
	url = ssh://git@github-personal/mwgoldsmith/gmp.git
[submodule "externals/gnutls"]
	path = externals/gnutls
	url = ssh://git@github-personal/mwgoldsmith/gnutls.git
[submodule "externals/harfbuzz"]
	path = externals/harfbuzz
	url = ssh://git@github-personal/mwgoldsmith/harfbuzz.git
[submodule "externals/lame"]
	path = externals/lame
	url = ssh://git@github-personal/mwgoldsmith/lame.git
	branch = develop
[submodule "externals/libaacs"]
	path = externals/libaacs
	url = ssh://git@github-personal/mwgoldsmith/libaacs.git
[submodule "externals/libass"]
	path = externals/libass
	url = ssh://git@github-personal/mwgoldsmith/libass.git
[submodule "externals/libbdplus"]
	path = externals/libbdplus
	url = ssh://git@github-personal/mwgoldsmith/libbdplus.git
[submodule "externals/libbluray"]
	path = externals/libbluray
	url = ssh://git@github-personal/mwgoldsmith/libbluray.git
[submodule "externals/libcdio"]
	path = externals/libcdio
	url = ssh://git@github-personal/mwgoldsmith/libcdio.git
[submodule "externals/libcdio-paranoia"]
	path = externals/libcdio-paranoia
	url = ssh://git@github-personal/mwgoldsmith/libcdio-paranoia.git
[submodule "externals/libdvdcss"]
	path = externals/libdvdcss
	url = ssh://git@github-personal/mwgoldsmith/libdvdcss.git
[submodule "externals/libdvdnav"]
	path = externals/libdvdnav
	url = ssh://git@github-personal/mwgoldsmith/libdvdnav.git
[submodule "externals/libdvdread"]
	path = externals/libdvdread
	url = ssh://git@github-personal/mwgoldsmith/libdvdread.git
[submodule "externals/libgcrypt"]
	path = externals/libgcrypt
	url = ssh://git@github-personal/mwgoldsmith/libgcrypt.git
[submodule "externals/libgpg-error"]
	path = externals/libgpg-error
	url = ssh://git@github-personal/mwgoldsmith/libgpg-error.git
[submodule "externals/libiconv"]
	path = externals/libiconv
	url = ssh://git@github-personal/mwgoldsmith/libiconv.git
  branch = develop
[submodule "externals/libilbc"]
	path = externals/libilbc
	url = ssh://git@github-personal/mwgoldsmith/libilbc.git
[submodule "externals/liblzma"]
	path = externals/liblzma
	url = ssh://git@github-personal/mwgoldsmith/liblzma.git
	branch = develop
[submodule "externals/libssh"]
	path = externals/libssh
	url = ssh://git@github-personal/mwgoldsmith/libssh.git
[submodule "externals/libvpx"]
	path = externals/libvpx
	url = ssh://git@github-personal/mwgoldsmith/libvpx.git
[submodule "externals/libxml2"]
	path = externals/libxml2
	url = ssh://git@github-personal/mwgoldsmith/libxml2.git
[submodule "externals/modplug"]
	path = externals/modplug
	url = ssh://git@github-personal/mwgoldsmith/modplug.git
	branch = develop
[submodule "externals/nettle"]
	path = externals/nettle
	url = ssh://git@github-personal/mwgoldsmith/nettle.git
[submodule "externals/ogg"]
	path = externals/ogg
	url = ssh://git@github-personal/mwgoldsmith/ogg.git
[submodule "externals/openssl"]
	path = externals/openssl
	url = ssh://git@github-personal/mwgoldsmith/openssl.git
[submodule "externals/opus"]
	path = externals/opus
	url = ssh://git@github-personal/mwgoldsmith/opus.git
[submodule "externals/rtmpdump"]
	path = externals/rtmpdump
	url = ssh://git@github-personal/mwgoldsmith/rtmpdump.git
[submodule "externals/soxr"]
	path = externals/soxr
	url = ssh://git@github-personal/mwgoldsmith/soxr.git
	branch = develop
[submodule "externals/speex"]
	path = externals/speex
	url = ssh://git@github-personal/mwgoldsmith/speex.git
[submodule "externals/theora"]
	path = externals/theora
	url = ssh://git@github-personal/mwgoldsmith/theora.git
[submodule "externals/vorbis"]
	path = externals/vorbis
	url = ssh://git@github-personal/mwgoldsmith/vorbis.git
[submodule "externals/x264"]
	path = externals/x264
	url = ssh://git@github-personal/mwgoldsmith/x264.git
[submodule "externals/x265"]
	path = externals/x265
	url = ssh://git@github-personal/mwgoldsmith/x265.git
[submodule "externals/xvid"]
	path = externals/xvid
	url = ssh://git@github-personal/mwgoldsmith/xvid.git
[submodule "externals/zlib"]
	path = externals/zlib
	url = ssh://git@github-personal/mwgoldsmith/zlib.git
	branch = develop
[submodule "externals/SDL"]
	path = externals/SDL
	url = ssh://git@github-personal/eddieringle/SDL.git
[submodule "externals/MediaInfoLib"]
	path = externals/MediaInfoLib
	url = ssh://git@github-personal/MediaArea/MediaInfoLib
